@charset "utf-8";
.solution{
	width:678px;
	margin:20px;
	font-size:13px;
	line-height:25px;
	padding-bottom:20px;
	border-bottom: 1px dashed #C3C3C3;
	}
.title{
	font-size:16px;
	font-weight: bold;
	color:#125175;
	line-height: 280%;
}
.solution_content{
	width:450px;
	word-break:break-all; 
	overflow:auto;
}
.text_img{
	float:left;
	width:180px;
	hieght:150px;
	margin:10px;
}
.text_img img{
	width:180px;
	hieght:150px;
	border:1px solid #ccc;
}
.text{
	float:left;
	margin-left:10px;
}
.more:link,.more:visited{color: #0a7ac4;}
.more:hover,.more:active {color: #9a2d0f;}